@model Client

        <h1>Удаление клиента</h1>

<h3>Вы уверены, что хотите удалить этого клиента?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>  
       <dt class="col-sm-2">
            Комментарий
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
         <dt class="col-sm-2">
           Проект
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
    </dl>
    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Подтвердить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">К списку клиентов</a>
    </form>
</div>